.wrapper{
    display: flex;
    min-width: 320px;
    margin: 8px;
}
.wrapper h2{
    color: #0A7FEB;
    margin: 8px;
    transition:color 0.5s;
}
.wrapper:hover h2{
    color: #7FC4FD;
}
.wrapper:hover h3{
    color: #0A7FEB;
}
.wrapper:hover p{
    color: #2A99FB;
}
.content h3{
    color: #2A99FB;
    transition:color 0.5s;
}
.content p{
    transition:color 0.5s;
}
