.wrapper{
    display: flex;
    min-width: 320px;
    margin: 8px;
}
.id{
    color: #0A7FEB;
    margin: 8px;
    padding: 4px;
    transition:color 0.5s;
}
.wrapper:hover .id{
    color: #7FC4FD;
}
.wrapper:hover .content-name{
    color: #0A7FEB;
}
.wrapper:hover .content-about{
    color: #2A99FB;
}
.content-name{
    margin: 8px 8px 4px;
    padding: 8px 8px 4px;
    transition:color 0.5s;
}
.content-about{
    margin: 4px 8px 8px;
    padding: 4px 8px 8px;
    transition:color 0.5s;
}
