html,
body {

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1{
  color: #0A7FEB;
}
h2{
color: #2A99FB;
}
h4{
color: #7FC4FD;
}
h6{
  color: #7FC4FD;
}
p{
  color: #7FC4FD;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }
}
@media (max-width: 650px) {
  body{
    display: flex;
  }

}