.wrapper{
    margin: 8px 0;
    padding: 8px 0;
}

.contact-block{
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 4px;
}
.line{
    box-shadow: 0 4px 10px var(--accent-light);
    border: 1px solid var(--border-color);
    border-radius: 100vh;
    margin:  8px 0;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    margin-right: auto;
}
.contact div h4{
    margin: 8px 0;
}
.contact div h6{
    margin: 8px 0;
}
@media (max-width: 650px) {
    .contact-block{
        flex-direction: column;
    }
}