.wrapper {
    display: flex;
    flex-direction: column;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 8px 0;
    padding: 8px 0;
}

.about .name {
    flex: 2;
    margin: 8px;
    max-width: 400px;
    min-width: 275px;
}

.about p {
    margin: 8px;
    flex: 1;
    min-width: 320px;
}

.rez {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    padding: 8px 0;
}

.rez .name {
    flex: 2;
    margin: 8px;
    max-width: 400px;
    min-width: 275px;
}



.skill {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    margin: 8px 0;
    padding: 8px 0;
}

.item {
    min-width: 300px;
    flex: 1;
}

.progress {
    display: flex;
    flex-wrap: wrap;
}

.progress-block {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.progress .name {
    flex: 2;
    margin: 8px;
    max-width: 400px;
    min-width: 275px;
}
@media (max-width: 650px) {
    .about, .progress, .rez{
        flex-direction: column-reverse;
        margin: 4px 0;
        padding: 4px 0;
    }


}