.btn{
    max-width: 332px;
    margin: 8px 0;
    padding: 8px 24px;

    border-radius: 50vh;
    border:2px solid;
    color: var(--accent-secondary);
    border-color: var(--accent-secondary);
    background: transparent;
    transition: ease-in-out  0.4s;

    font-size: var(--h3-size);
    font-weight: var(--h6-weight);
    font-family:  Calibri;
}
.btn:hover{
    color: var(--accent-primary);
    border-color: var(--accent-primary);
}

.btn:active{
    color: var(--accent-soft);
    border-color: var(--accent-soft);
}
@media (max-width: 650px) {
    .btn{
        margin: 4px;
        padding: 10px;
        max-width: 100%;
    }
}