.btn{
    margin: 8px 0;
    padding: 8px 40px;
    border-radius: 50vh;
    border:2px solid #2A99FB;
    color: #F1F9FF;
    background: #2A99FB;
    transition: ease-in-out  0.4s;
}
.btn:hover{
    color: #2A99FB;
    background: #F1F9FF;
}